/*doc
---
title: Multi Level Mobile Menu
name: multi-level-mobile-menu
category: Navigation
---

```html_example_table
<button class="btn btnDefault">Click</button>

<a class="btn btnDefault" href="trulia.com">Trulia!</a>
```

*/

.btn {
	color: red;
}